<main class="main">
  <div>
    <table mat-table [dataSource]="taskForUser">
      <ng-container matColumnDef="name-task">
        <th mat-header-cell *matHeaderCellDef>Name Task</th>
        <td mat-cell *matCellDef="let taskForUser"> {{taskForUser.name}} </td>
      </ng-container>
      <ng-container matColumnDef="state-task">
        <th mat-header-cell *matHeaderCellDef>State Task</th>
        <td mat-cell *matCellDef="let taskForUser"> {{taskForUser.state}} </td>
      </ng-container>
    </table>
  </div>
</main>


<router-outlet />